mat-grid-tile {
    background: lightblue;
  }

.income{
    justify-content: right;
    display:flex;
    align-items: right;
    width: 100%;
    position: absolute; top: 0px;
}

.spendings{
    justify-content: left;
    display:flex;
    align-items: left;
    width: 100%;
    position: absolute; top: 0px;
    
}