.button-remove-rows {
  margin-left: auto;
  background: red;
  color: #ffffff;
  margin-right: 5px;
}

.button-remove-rows:disabled {
  background: gray;
  color: white;
}

.button-add-row {
  margin-right: 20%;
  background: #1b9e1b;
  color: #ffffff;
}

@media screen and (min-width: 480px){
  .flex-container {
    position: absolute;
    text-align: center;
    min-width: 100vw;
  }
}
