<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>CNP</th>
      <th>Spending Limit</th>
    </tr>
  </thead>
  <tbody *ngFor="let member of members">
    <tr (click)="handleClick(member)">
      <td>{{ member.name }}</td>
      <td>{{ member.age }}</td>
      <td>{{ member.cnp }}</td>
      <td>{{ member.spendingLimit}}</td>
    </tr>
    <tr id="row-{{member.id}}" style="background-color: #1b3072; border: none;" [hidden]="true">
      <td colspan="4">
        <app-member-form-operation [selectedMember]="member" id="member-{{member.id}}" [hidden]="true">
        </app-member-form-operation>
      </td>
    </tr>
  </tbody>
</table>