table {
  width: 60%;
  margin-left: auto;
  margin-right:auto;
  margin-top:50px;
  font-size: 20px;
  box-shadow: 0px 6px 25px 6px rgba(0,0,0,0.3);
}

.btn-edit {
  text-align: right;
}

h2 {
  text-align: center;
}

.left{
  text-align: right;
}

.example-spacer {
  flex: 1 1 auto;
}

.table-header {
  margin-bottom: 10px;
  margin-right: 20%;
  text-align: right;
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}

.button-remove {
  background: red;
  color: white;
  margin-right: 2%;
}

.button-edit{
  background: #1b9e1b;
  color: #ffffff;
}

.btn-done{
  background: #1b9e1b;
  color: #ffffff;
}

.mat-header-cell {
  font-size: 20px;
  background-color: #1a3077;
  color: white;
  text-align: left;
  border-top: 1px solid #dddddd;
  padding: 20px;
}